<toolbar name="country" display-name="Country" actions="countryCtrl.globalActions"></toolbar>
<div ng-show="countryCtrl.error.show" ng-message="show" class="alert alert-danger" role="alert">
    <strong>Error!</strong> {{countryCtrl.error.msg}}
</div>
<div ng-hide="countryCtrl.editMode">
    <list-records
        change-page="countryCtrl.pageChanged()"
        edit-record="countryCtrl.editRecord(record)"
        delete-record="countryCtrl.deleteRecord(record)"
        model="model"
        records="records">
    </list-records>
    <pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false"></pagination>
</div>
<div ng-show="countryCtrl.editMode">
    <form name="countryForm" role="form">
        <input id="id" class="form-control" type="hidden" ng-model="currentRecord.id"/>
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" name="name" class="form-control" type="text" ng-model="currentRecord.name"/>
        </div>
        <div class="form-group">
            <label for="population">Population</label>
            <input id="population" name="population" class="form-control" type="number" ng-model="currentRecord.population"/>
        </div>
    </form>
</div>