<toolbar name="country" display-name="Country" actions="countryCtrl.globalActions"></toolbar>
<div ng-show="countryCtrl.error.show" class="alert alert-{{countryCtrl.error.type}}" role="alert">
    <button type="button" class="close" ng-click="countryCtrl.closeError()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>{{countryCtrl.error.type | uppercase}}:</strong> {{countryCtrl.error.msg}}
</div>
<div ng-hide="countryCtrl.editMode">
    <list-records
        model="model"
        records="records"
        actions="countryCtrl.recordActions">
    </list-records>
    <pagination total-items="countryCtrl.totalItems" ng-model="countryCtrl.currentPage" ng-change="countryCtrl.pageChanged()" items-per-page="countryCtrl.itemsPerPage" max-size="countryCtrl.maxSize" class="pagination-sm" boundary-links="true" rotate="false"></pagination>
</div>
<div ng-show="countryCtrl.editMode">
    <crud-form name="country" model="model" record="currentRecord"></crud-form>
</div>