<toolbar name="country" display-name="Country" actions="countryCtrl.globalActions"></toolbar>
<div ng-show="countryCtrl.error.show" class="alert alert-danger" role="alert">
    <button type="button" class="close" ng-click="countryCtrl.closeError()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Error!</strong> {{countryCtrl.error.msg}}
</div>
<div ng-hide="countryCtrl.editMode">
    <list-records
        model="model"
        records="records"
        actions="countryCtrl.recordActions">
    </list-records>
    <pagination total-items="countryCtrl.totalItems" ng-model="countryCtrl.currentPage" ng-change="countryCtrl.pageChanged()" items-per-page="countryCtrl.itemsPerPage" max-size="countryCtrl.maxSize" class="pagination-sm" boundary-links="true" rotate="false"></pagination>
</div>
<div ng-show="countryCtrl.editMode">
    <form name="countryForm" role="form">
        <input id="id" class="form-control" type="hidden" ng-model="currentRecord.id"/>
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" name="name" class="form-control" type="text" ng-model="currentRecord.name"/>
        </div>
        <div class="form-group">
            <label for="population">Population</label>
            <input id="population" name="population" class="form-control" type="number" ng-model="currentRecord.population"/>
        </div>
    </form>
</div>