<toolbar name="sport" display-name="Sport" actions="sportCtrl.globalActions"></toolbar>
<div ng-show="sportCtrl.error.show" ng-message="show" class="alert alert-{{sportCtrl.error.type}}" role="alert">
    <button type="button" class="close" ng-click="sportCtrl.closeError()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>{{sportCtrl.error.type | uppercase}}:</strong> {{sportCtrl.error.msg}}
</div>
<div ng-hide="sportCtrl.editMode">
    <list-records
        model="model"
        records="records"
        actions="sportCtrl.recordActions">
    </list-records>
    <pagination total-items="sportCtrl.totalItems" ng-model="sportCtrl.currentPage" ng-change="sportCtrl.pageChanged()" items-per-page="sportCtrl.itemsPerPage" max-size="sportCtrl.maxSize" class="pagination-sm" boundary-links="true" rotate="false"></pagination>
</div>
<div ng-show="sportCtrl.editMode">
    <crud-form name="sport" model="model" record="currentRecord"></crud-form>
</div>